<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/css">
    <script src="/bundles/modernizr"></script>

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp.styles.css" />
    <title>My ASP.NET Application</title>
    <link rel="stylesheet" href="/Content/css">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <HeadOutlet />
</head>
<body>
   <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>"/bundles/jquery"</script>
    <script>"/bundles/bootstrap"</script>
</body>
</html>
