@inherits LayoutComponentBase

<div class="page">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <NavMenu />
    </nav>

    <div class="container body-content">
        @Body
        <hr />
        <footer>
            <p>&copy; 2024 - My ASP.NET Application</p>
        </footer>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
